* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.top-area {
    height: 650px;
    width: 100%;
    background-image: url(donate-today-main/images/donation13.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
.top-area-content {   
    margin-top: 165px; 
    display: inline-block;
    color: #fff;
}
.top-area .top-area-content h1 {
    font-size: 56px;
}
.donate-now-button {
    text-decoration: none;
    background-image: linear-gradient(#3498db,#2980b9);
    padding: 13px 32px;
    border-radius: 6px;
    color: #fff;
    display: inline-block;
    margin-top: 30px;
    font-size: 18px;
    font-weight: 500;
}
.amount-container {
    display: flex;
    margin-top: 50px;
    text-align: center;
}
.Donate-today-area {
    margin-top: 110px;
    text-align: center;
}
.Donate-today-area h1 {
    font-size: 42px;
}
.Donate-today-area p {
    color: gray;
    margin-top: 8px;
}
.w-20 {
    width: 10%;
    height: 150px;
    line-height: 150px;
    background-color: #ecf0f1;
    margin: auto;
    text-align: center;
    border-radius: 5px; 
    font-size: 24px;   
}
.blue-box {
    background-color: rgba(52, 152, 219,0.2);
    border: 3px solid #3498db;
    border-radius: 5px;
    color: #3498db;  
}
.input-box {
    text-align: center;
    margin-top: 70px;
}
.input-box input {
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    width: 700px;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    border-width: thin;
}
.button {
    text-align: center;
}
.Our-donate-plan-area {
    text-align: center;
    margin-top: 110px;
}
.Our-donate-plan-area h1 {
    font-size: 42px;
}
.Our-donate-plan-area p {
    color: gray;
    margin-top: 8px;
}
.our-donate-plan-container {
    display: flex;
    margin-top: 50px;
}
.w-30 {
    width: 400px;
    margin: auto;
    padding: 60px 20px 60px;
    border-radius: 5px;
}
.light-blue-color {
    background-color: rgba(52, 152, 219,0.1);
}
.light-red-color {
    background-color: rgba(231, 76, 60,0.1);
}
.light-orange-color {
    background-color: rgba(241, 196, 15,0.1);
}
.w-30 img {
    margin-bottom: 25px;
}
.w-30 h2 {
    margin-bottom: 25px;
}
.feedback-area-container {
    display: flex;
}
.w-25 {
    width: 25%;
    margin: auto;
    padding-top: 50px;
    color: #fff;
    text-align: center;
}
.feedback-area-content {
    margin-top: 110px;
    text-align: center;
    padding-top: 50px;
}
.feedback-area {
    background-image: linear-gradient(#3498db,#2980b9);
}
.feedback-area h1 {
    font-size: 42px;
    color: #fff;
}
.feedback-area p {
    color: #fff;
    margin-top: 8px;
}
.w-25 img {
    width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 25px; 
}
.w-25 p {
   padding-bottom: 50px; 
}
.Update-area {
    text-align: center;
    margin-top: 110px;
}
.Update-area h1 {
    font-size: 42px;
}
.Update-area p {
    color: gray;
    margin-top: 8px;
}
.mail-box-container {
    width:50%;
    height: 200px;
    background-color: rgba(52, 152, 219,0.1);
    text-align: center;
    margin: auto;
    border-radius: 5px;
    margin-top: 50px;
}
.mail-input {
    text-align: center;
    line-height: 200px;
}
.mail-input input{
    border-style: none;
    padding: 10px 0;
    padding-left: 15px;
    width: 250px;
}
#mail-box {
    background-color: #bdc3c7;
    font-size: 16px;
}
#sub-button {
    padding-left: 0;
    width: 150px;
    background-color: #3498db;
    color: #fff;
    font-size: 16px;
}
.footer-area {
    background-color: #182C61;
    margin-top: 150px;
    text-align: center;
    padding: 60px 0;
}
.footer-area h1 {
    color:#F97F51;
}
.footer-area p {
    color: #fff;
    margin-top: 20px;
}